{% set currentRoute = app.request.attributes.get('_route') %}
	
	{% set sidebar = [
    {
        title: 'Appointments',
        icon: 'fas fa-fw fa-cog',
        id: 'categories',
        routes: ['app_appointment_new', 'app_appointment_index'],
        items: [
            { label: 'Add New Appointment', route: 'app_appointment_new' },
            { label: 'Appointment List',   route: 'app_appointment_index' }
        ]
    },
    
] %}
	
	
	
	<ul
		class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

		<!-- Sidebar - Brand -->
		<a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('app_appointment_index') }}">
			<div class="sidebar-brand-text mx-3 mt-3">Appointo
				<small class="mb-3">Business User Area</small>
			</div>
		</a>

		<!-- Nav Item - Dashboard -->
		<li class="nav-item active">
			<a class="nav-link" href="{{ path('app_appointment_index') }}">
				<i class="fas fa-fw fa-tachometer-alt"></i>
				<span>Dashboard</span>
			</a>
		</li>

		<!-- Nav Item - Pages Collapse Menu -->
		 {% for menu in sidebar %}
        <li class="nav-item">

            <a class="nav-link collapsed"
               href="#"
               data-toggle="collapse"
               data-target="#{{ menu.id }}">
                <i class="{{ menu.icon }}"></i>
                <span>{{ menu.title }}</span>
            </a>

            <div id="{{ menu.id }}"
                 class="collapse {{ currentRoute in menu.routes ? 'show' : '' }}"
                 data-parent="#accordionSidebar">

                <div class="bg-white py-2 collapse-inner rounded">
                    {% for item in menu.items %}
                        <a class="collapse-item {{ currentRoute == item.route ? 'active' : '' }}"
                           href="{{ path(item.route) }}">
                           {{ item.label }}
                        </a>
                    {% endfor %}
                </div>

            </div>
        </li>
    {% endfor %}

	</ul>

