{% extends 'admin/base.html.twig' %}

{% block title %}SubCategories index
{% endblock %}

{% block body %}
	<div class="container">
		<a class="btn btn-primary mb-3" href="{{ path('app_sub_categories_new') }}">Create new</a>

		<h3>SubCategories index</h3>

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Category</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for sub_category in sub_categories %}
					<tr>
						<td>{{ sub_category.id }}</td>
						<td>{{ sub_category.name }}</td>
						<td>{{ sub_category.category.name }}</td>
						<td>
							<a href="{{ path('app_sub_categories_show', {'id': sub_category.id}) }}">show</a>
							<a href="{{ path('app_sub_categories_edit', {'id': sub_category.id}) }}">edit</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="3">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
