{% extends 'business/staff/base.html.twig' %}

{% block title %}Staff index{% endblock %}

{% block body %}
    <h1>Staff index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for staff in staff %}
            <tr>
                <td>{{ staff.id }}</td>
                <td>{{ staff.email }}</td>
                <td>
                    <a href="{{ path('app_staff_show', {'guid': staff.guid}) }}">Show</a>
                    <a href="{{ path('app_staff_edit', {'guid': staff.guid}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_staff_new') }}">Create new</a>
{% endblock %}
